body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #c7c7c7 !important;
}

.headerDesktop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.headerDesktop ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style: none;
  overflow: hidden;
  align-items: center;
  padding: 0;
}
.headerDesktop .part01Menu {
  padding-left: 50px;
}
.headerDesktop .part01Menu li {
  padding: 10px;
}
.headerDesktop .part01Menu li a {
  text-decoration: none;
  color: #333;
  letter-spacing: 2px;
  font-size: 1vw;
  padding: 0 0px 0 25px;
  position: relative;
}
.headerDesktop .part01Menu li .lojaHeader {
  font-size: 25px;
  color: #e13d29;
  font-weight: bold;
}
.headerDesktop .part01Menu li .kafnetHeader {
  font-size: 25px;
  margin-left: 40px;
  color: #545454;
  font-weight: bold;
}
.headerDesktop .part02Menu {
  padding-right: 50px;
}
.headerDesktop .part02Menu li {
  padding: 0 35px !important;
}
.headerDesktop .part02Menu li a {
  text-decoration: none;
  color: #333;
  letter-spacing: 2px;
  font-size: 1vw;
  padding: 30px;
  position: relative;
}
.headerDesktop .part02Menu li a:before, .headerDesktop .part02Menu li a:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}
.headerDesktop .part02Menu li a:before, .headerDesktop .part02Menu li a::after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #545454;
}
.headerDesktop .part02Menu li a::before {
  border-width: 2px 0 2px 0;
  transform: scaleX(0);
}
.headerDesktop .part02Menu li a:after {
  border-width: 0 2px 0 2px;
  transform: scaleY(0);
}
.headerDesktop .part02Menu li a:hover:before, .headerDesktop .part02Menu li a:hover:after {
  transform: scale(1, 1);
}
.headerDesktop .part02Menu li a:hover {
  font-weight: 700;
  font-size: 15px;
}

.headerMobile {
  width: 100%;
  z-index: 3;
  display: none;
  background-color: #fff;
}
.headerMobile ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.headerMobile li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #333;
  letter-spacing: 1px;
  font-size: 2vw;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.headerMobile .logo {
  padding-left: 60px;
  padding-right: 60px;
}
.headerMobile .part02Menu {
  display: flex;
  justify-content: center;
  border-top: 0.1px inset;
}

@media (max-width: 1199px) {
  .headerDesktop {
    display: none;
  }

  .headerMobile {
    display: block;
  }
  .headerMobile li a {
    font-size: 1.8vw;
    font-weight: 500;
  }
}
@media (max-width: 799px) {
  .headerMobile li a {
    font-size: 2.55vw;
    font-weight: 500;
  }
}
@media (max-width: 600px) {
  .headerMobile li a {
    font-size: 3.2vw;
    font-weight: 700;
  }
}
.contLeftPage .leftPage {
  margin-top: 15px;
}
.contLeftPage .leftPage .row {
  margin: 10px 10px;
}
.contLeftPage .leftPage .row .cep {
  width: 69% !important;
}
.contLeftPage .leftPage .row .logra, .contLeftPage .leftPage .row .numero {
  width: 49% !important;
  margin-right: 0;
}
.contLeftPage .leftPage .row .logra {
  background: #808080;
  color: #ffffff;
  margin-right: 5px !important;
}
.contLeftPage .leftPage .row .logra::placeholder {
  color: #ffffff;
}
.contLeftPage .leftPage .row .complemento {
  width: 100% !important;
}
.contLeftPage .leftPage .row .bairro {
  width: 100% !important;
  background: #808080;
  color: #ffffff;
}
.contLeftPage .leftPage .row .bairro::placeholder {
  color: #ffffff;
}
.contLeftPage .leftPage .row .cidade {
  width: 68% !important;
  background: #808080;
  color: #ffffff;
}
.contLeftPage .leftPage .row .cidade::placeholder {
  color: #ffffff;
}
.contLeftPage .leftPage .row .uf {
  width: 30%;
  background: #808080;
  color: #ffffff;
  margin-right: 0;
}
.contLeftPage .leftPage .row .uf::placeholder {
  color: #ffffff;
}
.contLeftPage .leftPage .row input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #dddddd;
  width: 49%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  margin-right: 5px;
}
.contLeftPage .leftPage .row button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #e13d29;
  width: 30%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .contLeftPage {
    flex-direction: column;
  }
  .contLeftPage .leftPage {
    padding-bottom: 20px;
  }
  .contLeftPage .col-6 {
    max-width: 100%;
  }
}
@media (max-width: 799px) {
  .contLeftPage .leftPage {
    padding-bottom: 20px;
  }
  .contLeftPage .leftPage .row .cep {
    width: 49% !important;
  }
  .contLeftPage .leftPage .row .logra, .contLeftPage .leftPage .row .numero {
    width: 49% !important;
  }
  .contLeftPage .leftPage .row .cidade {
    width: 59% !important;
  }
  .contLeftPage .leftPage .row .uf {
    width: 38% !important;
  }
  .contLeftPage .leftPage .row button {
    width: 49% !important;
  }
}
.footer {
  background-color: #ffffff;
  color: white;
  width: 100%;
}
.footer .row {
  margin: 0;
  padding-top: 2.5vh;
  padding-bottom: 6vh;
  text-align: center;
}
.footer .row span {
  color: #545454;
  font-size: 16px;
}

.rightPage {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 20px;
}
.rightPage .contBtnContinuar {
  display: flex;
  justify-content: flex-end;
}
.rightPage .row {
  margin: 10px 10px 0 10px;
}
.rightPage .row .col-6 {
  margin-bottom: px;
  max-width: 100%;
  display: flex;
  flex: 0 0 100%;
  background-color: #dddddd;
  padding: 10px;
  border-radius: 10px;
}
.rightPage .row .col-6 .miniItem {
  width: 70px;
}
.rightPage .row .col-6 .miniItem .item {
  width: 100%;
  border-radius: 10px;
  max-width: 300px;
}
.rightPage .row .col-6 .descItem {
  display: flex;
  color: #545454;
  flex-direction: column;
  margin-left: 10px;
}
.rightPage .row .col-6 .descItem .nameItem {
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 1px;
}
.rightPage .row button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #808080;
  width: 30%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}

@media (max-width: 799px) {
  .rightPage .row button {
    width: 50%;
  }
  .rightPage .row .col-6 .descItem .nameItem {
    font-size: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
