.footer
    background-color: #ffffff
    color: white
    width: 100%

    .row
        margin: 0
        padding-top: 2.5vh
        padding-bottom: 6vh
        text-align: center

        span
            color: #545454
            font-size: 16px
                

@media (max-width: 770px)