.contLeftPage
    .col-6
        margin: 20px 0 !important
    .leftPage
        .row
            margin: 10px 10px

            .cep
                width: 69% !important
            .logra, .numero
                width: 49% !important
                margin-right: 0
            .logra
                background: #808080
                color: #ffffff
                margin-right: 5px !important
                &::placeholder
                    color: #ffffff
            .complemento
                width: 100% !important
            .bairro
                width: 100% !important
                background: #808080
                color: #ffffff
                &::placeholder
                    color: #ffffff
            .cidade
                width: 68% !important
                background: #808080
                color: #ffffff
                &::placeholder
                    color: #ffffff
            .uf
                width: 30%
                background: #808080
                color: #ffffff
                margin-right: 0
                &::placeholder
                    color: #ffffff
            
            input
                font-family: "Roboto", sans-serif
                outline: 0
                background: #dddddd
                width: 49%
                border: 0
                padding: 15px
                box-sizing: border-box
                font-size: 14px
                margin-right: 5px
            button
                font-family: "Roboto", sans-serif
                text-transform: uppercase
                outline: 0
                background: #e13d29
                width: 30%
                border: 0
                padding: 15px
                color: #FFFFFF
                font-size: 14px
                -webkit-transition: all 0.3 ease
                transition: all 0.3 ease
                cursor: pointer

@media (max-width: 1199px)
    .contLeftPage
        flex-direction: column
        
        .leftPage
            padding-bottom: 20px

        .col-6
            max-width: 100%

@media (max-width: 799px)
    .contLeftPage
        .leftPage
            padding-bottom: 20px

            .row
                .cep
                    width: 49% !important
                .logra, .numero
                    width: 49% !important
                .cidade
                    width: 59% !important
                .uf
                    width: 38% !important
                button
                    width: 49% !important
